body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    background-color: gray;
}

h1{
    color: blue;
}

button {
    padding: 10px 20px;
    background-color: rgb(218, 86, 57);
    color: white;
    font-weight: bold;
}